<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">{{exam.name}}</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-relative">
      <div class="container">
        <div class="row">
          <div class="col">

            <div class="table-responsive">
              <table class="table align-middle">
                <tbody>
                  <tr>
                    <th>Faculty:</th>
                    <td>{{faculty}}</td>
                  </tr>

                  <tr>
                    <th>Profesor:</th>
                    <td>{{exam.headProfessor}}</td>
                  </tr>

                  <tr>
                    <th>Year of study: </th>
                    <td>{{exam.yearOfStudy}}</td>
                  </tr>

                  <tr>
                    <th>Date of exam:</th>
                    <td>{{exam.date}}</td>
                  </tr>

                  <tr>
                    <th>Description:</th>
                    <td>{{exam.details}}</td>
                  </tr>

                  <tr>
                    <th>Location:</th>
                    <td>{{exam.location}}</td>
                  </tr>

                  <tr>
                    <th>Is mandatory?</th>
                    <td>{{isMandatory}}</td>
                  </tr>

                  <tr>
                    <th>Exam type:</th>
                    <td>{{examType}}</td>
                  </tr>

                </tbody>
              </table>
            </div>

            <div class = "row">
              <button type="button" class="btn btn-primary" (click)="attendToExam()">Attend Exam</button>
            </div>

          </div>

          <div class="col">
            <img class="img-fluid" src="./assets/exam.svg" alt="Exam" />
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
