<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">{{exam?.name}}</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-relative">
      <div class="container">

        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table align-middle">
                <tbody>
                  <tr>
                    <th>Faculty:</th>
                    <td>{{faculty}}</td>
                  </tr>

                  <tr>
                    <th>Profesor:</th>
                    <td>{{exam?.headProfessor}}</td>
                  </tr>

                  <tr>
                    <th>Year of study: </th>
                    <td>{{exam?.yearOfStudy}}</td>
                  </tr>

                  <tr>
                    <th>Date of exam:</th>
                    <td>{{exam?.date}}</td>
                  </tr>

                  <tr>
                    <th>Description:</th>
                    <td>{{exam?.details}}</td>
                  </tr>

                  <tr>
                    <th>Location:</th>
                    <td>{{exam?.location}}</td>
                  </tr>

                  <tr>
                    <th>Is mandatory?</th>
                    <td>{{isMandatory}}</td>
                  </tr>

                  <tr>
                    <th>Exam type:</th>
                    <td>{{examType}}</td>
                  </tr>

                </tbody>
              </table>
            </div>

            <div class="row">
              <button *ngIf="!attendanceId" type="button" class="btn btn-primary" (click)="attendToExam()">Attend
                Exam</button>

              <button *ngIf="attendanceId" type="button" class="btn btn-danger" (click)="deleteAttendance()">Delete
                attendance</button>
            </div>

          </div>

          <div class="col">
            <img class="img-fluid" src="./assets/exam.svg" alt="Exam" />
          </div>

        </div>

        <br />

        <div class="row" id="comments-row">
          <div class="comments">

            <label class="comments-title"><b>Comments</b></label>

            <div class="comment-button">
              <form [formGroup]="commentForm">
                <textarea class="add-comment" contenteditable="true" required formControlName="text"></textarea>
                <br />
                <button class="btn btn-primary" (click)="addComment()"> Add comment </button>
              </form>
            </div>

            <div class="comments-list">
              <mat-list>
                <div class="card" *ngFor="let comment of comments">

                  <div class="card-body">
                    <h5 class="card-title">{{ comment.userId }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ comment.dateAdded }}</h6>
                    <p class="card-text">{{ comment.text }}</p>

                    <div *ngIf="comment.userId == userId">
                      <button mat-mini-fab color="primary" (click)="deleteComment(comment.id)" matLine>
                        <mat-icon matListIcon>delete</mat-icon>
                      </button>
                    </div>
                  </div>

                </div>
              </mat-list>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
