@import "../dashboard/dashboard.component.scss";

form{
  margin-top: 5%;
}
.container input{
  width: 100%;
}

.container .input{
  background-color: #f0f0f0;
  color: blue;
}
h2.text {
  justify-content: space-around;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

.input {
  display: inline-flex;
  align-items: center;
  width: 400px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(211, 211, 211);
  outline: none;
  scroll-behavior: smooth;
  border-radius: 48px;
}


textarea {
  resize: none;
}

.input-group-append-1 {
  align-self: center;
  display: inline;
}

.input-group-append-2 {
  align-self: center;
  display: inline;
}

.input-group-append-3 {
  align-self: center;
  display: inline;
}

.input:focus {
  outline: none;
}

.btn {
  padding: 8px 30px;
  background: $blue;
  border-radius: 48px;
  margin-top: 15px;
  color: white;
  font-weight: 600;
  transition: 0.4s ease;
}

.btn:hover {
  background: $light-blue;
}

.err{
  color: red;
  font-size: small;
  opacity: 1;
}

@media (max-width: 570px){
  .container input{
    font-size: medium;
  }

  .container .input{
    background-color: #f0f0f0;
    color: blue;
  }

  .btn {
    padding: 8px 30px;
    background: $blue;
    border-radius: 48px;
    margin-top: 15px;
    color: white;
    font-weight: 400;
    transition: 0.4s ease;
  }

  .btn:hover {
    background: $light-blue;
  }

  .err{
    color: red;
    font-size: 12px;
    opacity: 1;
  }

  .select{
    font-weight: 400;
  }

  h2.text {
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
}
