<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Add exam</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-relative">
      <div class="container">
        <div class="col-md-6 offset-md-3">
          <section class="registration">
            <h2 class="text">Add Exam</h2>
            <div class="container">
              <form [formGroup]="formGroup">
                <!--Title-->

                <input type="text" class="input" #title1 placeholder="Name" formControlName="name" />

                <div *ngIf="isInvalid(formGroup.get('name')!)" class="error-alert">
                  Invalid Name (name must be at least 2 characters)
                </div>


                <!--
                  <div class="input-group-append-1" (click)="changeType(title1, 1)"></div>
                  <div class="err" *ngIf="submitted && f.title.errors">
                    <div *ngIf="f.title.errors.required">Title Is Required *</div>
                  </div>
                -->

                <!--
                Professor

                <input type="text" class="input" #professor2 placeholder="Professor" name="professor"
                  formControlName="headProfessor" />


                    <div class="input-group-append-2" (click)="changeType(professor2, 2)"></div>
                  <div class="err" *ngIf="submitted && f.professor.errors">
                    <div *ngIf="f.professor.errors.required">
                      Professor Is Required *
                    </div>
                  </div>
                  -->

                <!--Date-->

                <input type="date" id="date" class="input" #date3 placeholder="Date" name="date" value="2021-01-10"
                  formControlName="date" />

                <!--
                  <div class="input-group-append-3" (click)="changeType(date3, 3)"></div>
                  <div class="err" *ngIf="submitted && f.date.errors">
                    <div *ngIf="f.date.errors.required">Date Is Required *</div>
                  </div>
                -->

                <!--Location-->

                <input type="text" class="input" #location4 placeholder="Location" name="location"
                  formControlName="location" />

                  <div *ngIf="isInvalid(formGroup.get('location')!)" class="error-alert">
                    Invalid Location (location must be at least 4 characters)
                  </div>

                <!--
                  <div class="input-group-append-4" (click)="changeType(location4, 4)"></div>
                  <div class="err" *ngIf="submitted && f.location.errors">
                    <div *ngIf="f.location.errors.required">
                      Location Is Required *
                    </div>
                  </div>
                -->

                <!--Select Faculty-->

                <br />
                <label>Select Faculty:</label>

                <select class="form-select" required placeholder="facultyId" name="facultyId"
                  formControlName="facultyId">
                  <option selected disabled value=''>Select Faculty...</option>
                  <option *ngFor="let faculty of faculties" [value]="faculty.id">
                    {{ faculty.name }}
                  </option>
                </select>

                <!--
                  <div class="input-group-append-5" (click)="changeType(faculty5, 5)"></div>

                  <div class="err" *ngIf="submitted && f.faculty.errors">
                    <div *ngIf="f.faculty.errors.required">
                      Faculty Is Required *
                    </div>
                  </div>
                -->

                <!--Mandatory or Not-->

                <select class="form-select" size="2" formControlName="mandatory">
                  <option value="1" selected>Mandatory</option>
                  <option value="0">Not Mandatory</option>
                </select>

                <!--Type Of Exam-->

                <select class="form-select" size="3" formControlName="examType">
                  <option value="0" selected>Essay exam</option>
                  <option value="1">Oral exam</option>
                  <option value="2">Practical exam</option>
                </select>

                <select class="form-select" size="2" formControlName="acceptsCommentaries">
                  <option value="0">Accept comments</option>
                  <option value="1" selected>Not accept comments</option>
                </select>

                <!--Year of Study-->

                <br />
                <label>Select Year of Study:</label>
                <select name="year" id="year" placeholder="yearOfStudy" class="form-select" required #year6
                  formControlName="yearOfStudy">
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>

                <label>Other details:</label>
                <textarea class="form-select" formControlName="details"></textarea>

                <!--
                  <div class="input-group-append-6" (click)="changeType(year6, 6)"></div>
                  <div class="err" *ngIf="submitted && f.year.errors">
                  <div *ngIf="f.year.errors.required">
                    Year of Study Is Required *
                  </div>
                </div>
                -->

                <div class="text-center">
                  <button type="submit" class="btn" (click)="addExam()">Submit</button>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
