<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Add exam</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-relative">
      <div class="container">
        <div class="col-md-6 offset-md-3">
          <section class="registration">
            <h2 class="text">Add Exam</h2>
            <div class="container">
              <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
                <!--Title-->

                <input
                  type="text"
                  class="input"
                  #title1
                  placeholder="Name"
                  name="title"
                  formControlName="name"
                  [(ngModel)]="title"
                />
                <div
                  class="input-group-append-1"
                  (click)="changeType(title1, 1)"
                ></div>
                <div class="err" *ngIf="submitted && f.title.errors">
                  <div *ngIf="f.title.errors.required">Title Is Required *</div>
                </div>

                <!--Professor-->

                <input
                  type="text"
                  class="input"
                  #professor2
                  placeholder="Professor"
                  name="professor"
                  formControlName="headProfessor"
                />
                <div
                  class="input-group-append-2"
                  (click)="changeType(professor2, 2)"
                ></div>
                <div class="err" *ngIf="submitted && f.professor.errors">
                  <div *ngIf="f.professor.errors.required">
                    Professor Is Required *
                  </div>
                </div>

                <!--Date-->

                <input
                  type="date"
                  class="input"
                  #date3
                  placeholder="Date"
                  name="date"
                  value="2021-01-10"
                  formControlName="date"
                />
                <div
                  class="input-group-append-3"
                  (click)="changeType(date3, 3)"
                ></div>
                <div class="err" *ngIf="submitted && f.date.errors">
                  <div *ngIf="f.date.errors.required">Date Is Required *</div>
                </div>

                <!--Location-->

                <input
                  type="text"
                  class="input"
                  #location4
                  placeholder="Location"
                  name="location"
                  formControlName="location"
                />
                <div
                  class="input-group-append-4"
                  (click)="changeType(location4, 4)"
                ></div>
                <div class="err" *ngIf="submitted && f.location.errors">
                  <div *ngIf="f.location.errors.required">
                    Location Is Required *
                  </div>
                </div>

                <!--Select Faculty-->

                <select
                  name="faculty"
                  class="form-select"
                  #faculty5
                  placeholder="Faculty"
                  size="1"
                >
                  <option value="0" selected>Select Faculty</option>
                  <option
                    *ngFor="let faculty of faculties"
                    [value]="faculty.id"
                  >
                    {{ faculty.name }}
                  </option>
                </select>
                <div
                  class="input-group-append-5"
                  (click)="changeType(faculty5, 5)"
                ></div>
                <div class="err" *ngIf="submitted && f.faculty.errors">
                  <div *ngIf="f.faculty.errors.required">
                    Faculty Is Required *
                  </div>
                </div>

                <!--Mandatory or Not-->

                <select class="form-select" size="2">
                  <option value="0" selected>Mandatory</option>
                  <option value="1">Not Mandatory</option>
                </select>

                <!--Type Of Exam-->

                <select class="form-select" size="3">
                  <option value="0" selected>Essay exams</option>
                  <option value="1">Oral exam</option>
                  <option value="2">Practical exam</option>
                </select>

                <!--Year of Study-->

                <select name="Year of Study" class="form-select" #year6>
                  <option value="0" selected>Select Year of Study</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
                <div
                  class="input-group-append-6"
                  (click)="changeType(year6, 6)"
                ></div>
                <div class="err" *ngIf="submitted && f.year.errors">
                  <div *ngIf="f.year.errors.required">
                    Year of Study Is Required *
                  </div>
                </div>


                <div class="text-center">
                  <button type="submit" class="btn">Submit</button>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
