<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form action="#" class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" />
        </div>
        <input type="submit" value="Login" class="btn solid" />
      </form>
    </div>
  </div>
</div>

<div class="left-panel-img">
  <img src="assets/img/undraw_Hello_re_3evm.svg" class="img" />
</div>
<div class="left-panel">
  <h3>New here ?</h3>
  <a routerLink="/authentication/register">
  <button class="btn transparent" id="sign-up-btn">Sign up</button>
  </a>
</div>
