@import "../dashboard/dashboard.component.scss";

app-exam-tile{
  position: relative;
  border-radius: 10px;
  border: 2px solid $blue;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}
@media (max-width: 570px){
  .d-flex{
    font-size: 25px;
  }
}
