<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">My exams</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-relative">

      <div class="container">
        <div class="row row-cols-3">

          <app-exam-tile *ngFor="let exam of examsList" title="{{ exam.name }}" prof="{{ exam.profesor?.firstName + ' ' + exam.profesor?.lastName }}"
            date="{{ exam.date }}" description="{{ getFacultyName(exam.facultyId) }}" link="{{ 'details/' + exam.id }}"></app-exam-tile>

        </div>
      </div>
    </div>
  </div>
</div>
