@import "../dashboard/dashboard.component.scss";
.container{
  background-color: #4481eb;
}

app-exam-tile{
  background-color: #04befe;
  position: relative;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
