<mat-nav-list>
  <div class="logo py-4">
     <img src="./assets/logo.svg" alt="Project Logo" />
    <!-- <h1>Exam management</h1> -->
  </div>
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="./dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="./exams">
    <mat-icon>apps</mat-icon> My exams
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="./find-exam">
    <mat-icon>search</mat-icon> Find exam
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="./add-exam">
    <mat-icon>library_add</mat-icon> Add exam
  </a>
</mat-nav-list>
