img {
  width: 100%;
}

.col-4 {
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.col-8{
  font-size: 20px;
  text-align: center;
}
h3{
  font-size: 20px;
  color: blue;
}
