<div class="container">
  <div class="row">
    <div class="col-4">
      <img src="./assets/questions.svg" alt="Questions" />
    </div>
    <div class="col-8">
      “Exam management” is a software application developed by a group of five
      students using the knowledge achieved in the Centric summer practice 2021.
      <br /><br />
      <h3><b>Our Mission </b></h3>
      <br />To develop an application usable and easy to use for both students
      and teachers that gives opportunity to be updated in real time with
      schedule exams. For the teachers they can add/ remove an exam, for
      students they receive a notification with exam’s data. <br /><br />
      <h3><b>Contact data</b></h3>
      <i class="fas fa-envelope"></i> abc@admin.com<br />
    </div>
  </div>
</div>
