@import "../dashboard/dashboard.component.scss";

app-exam-tile{
  position: relative;
  border-radius: 10px;
  border: 2px solid $blue;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

form {
  display: flex;
  top: 15px;
  justify-content:flex-start;
}

select{
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

button {
  cursor: pointer;
  width: 100px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#search{
  width: 40%;
}

#faculty{
  width: 30%;
}
