<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Find exam</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-relative">
      <div class="container">
        <form id="form" role="search">
          <input name="search" [(ngModel)]="searchText" id="search" class="form-control" placeholder="Find exams..." aria-label="Search">
          <select id="searchType" placeholder="Faculty" class="form-select">
            <option disabled selected>Search for ...</option>
            <option value="Title">Title</option>
            <option value="Teacher">Teacher</option>
          </select>
          <button class="btn btn-primary" (click)="filter()">Find</button>
        </form>
        <div class="row row-cols-3">
          <app-exam-tile *ngFor="let exam of filteredList" title="{{ exam.name }}" prof="{{ exam.headProfessor }}"
            date="{{ exam.date }}" description="{{ getFacultyName(exam.facultyId) }}" link="{{ 'details/' + exam.id }}">
          </app-exam-tile>
        </div>
      </div>
    </div>
  </div>
</div>
